.main-breadcrums a{
    color: #888;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    margin-left: 20px;
}

.main-breadcrums a::after{
    color: #999;
    content: " > ";
}

.main-breadcrums a:last-child::after{
    content: "";
}

.main-filter{
    padding-left: 20px;
    padding-top: 10px;
}

.main-country{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: #662170;
    margin-bottom: 20px;
}

.main-filter-found{
    background: #662170;
    color: white;
    width: 500px;
    height: 51px;
    border-radius: 0px 50px 50px 0px;
    display: flex;
}

.main-filter-found-icon img{
    transform: scale(-1, 1);

    margin-left: 20px;
    margin-top: 15px;
}


.filter-found-country{
    background: white;
    color: black;
    width: 100px;
    height: 45px;
    margin-top: 3px;
    margin-left: 3px;
    display: flex;
    justify-content: space-between;
}

.filter-arrow{
    transform: rotate(-90deg);
}

.filter-name-country{

}

.filter-found-country .filter-icon{
    background-size: auto;
    background-image: url(//cf.youtravel.me/local/templates/youtravel/assets/i/sprite-scss.png?4713750);
    background-position: -232px -230px;
    width: 24px;
    height: 24px;
}


.main-filter-buttons{
    margin-top: 10px;
    display: flex;

}

.filter-button:first-child{
    margin-left: 0;
}

.filter-button{
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid #b2b3b3;
    border-radius: 4px;
    padding: 5px;
    color: #444;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    width: fit-content;
}

.filter-button:hover{
    border: none;
    padding: 6px;
    background: #e0e0e0;
}

.sort-filter{
    color: rgb(153, 153, 153);
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.sort-filter-btn{
    color: rgb(63, 63, 63);
    background: #d4d4d4;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    width: 300px;
    border: none;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
    height: 20px;
}

.sort-filter-btn::before{
    background-image: url('');
}



.tyr{
    margin: 0 auto;
}

.tyr-face{
    position: relative;
}

.tyr-face-bg{
    transition: 2s;
    display: block;
    max-height: 200px;
    min-width: 215px;
}

.tyr-face-bg:hover{
    transform: scale(1.1);
}

.tyr-face-border{
    display: inline-block;
    overflow: hidden;
    width: 215px;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
}

.tyr-face-icons{
    position: absolute;
    top: 5px;
    left: 7px;
    display: flex;
    justify-content: space-between;
    width: 200px;
}


.tyr-face-icon-love img{
    width: 20px;
}

.tyr-face-name{
    position: absolute;
    top: 140px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    word-wrap: inherit;
    width: 200px;
    padding-left: 6px;
}

.tyr-description{
    position: absolute;
    top: 200px;
    box-shadow: 0px 4px 10px -4px grey;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 210px;
    word-wrap: none;
    padding-left: 5px;
    border-radius: 0px 0px 5px 5px;
}

.tyr-description-day{
    color: rgb(133, 133, 133);
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    white-space: nowrap;
}

.tyr-country{
    padding-top: 5px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.tyr-day{
    display: flex;
    padding-top: 5px;
    font-size: 12px;
    white-space: nowrap;
}

.tyr{
    position: relative;
    margin-left: 10px;
    margin-top: 15px;
    height: 300px;
}

.tyragent{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.tryagent-img{
    border-radius: 50px;
    width: 35px;
    padding-bottom: 5px;
}

.tryagent-name{
    padding-left: 7px;
    font-size: 13px;
    font-family: sans-serif;
    padding-top: 10px;
}

.tyr-block{
    display: flex;
}

.tryagent-price{
    font-weight: bold;
    padding-top: 10px;
    padding-right: 10px;
}

.tyrs{
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(215px, 1fr));
}